
/*imports normalize*/
@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*MOBILE small screen-NEED TO UPDATE (WIP..)*/
@media screen and (max-width: 500px) {
  /*grid 1 col*/
  .grid {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
  }
  .grid-item {
    background-color: rgba(52, 52, 52, 0.5);
    color: white;
    text-align: center;
  }
    header{
      overflow: hidden;
      background-color: white;
      padding-top: 0px;
    }

    nav{
      overflow: hidden;
      background-color: #E6EBE0;
      border-bottom: 3px solid #E6EBE0;
      border-top: 3px solid #E6EBE0;
      grid-column: 1;
      grid-row: 1;
      display: block;
    }
    footer{
      position:relative;
      bottom:0;
      background:#b5e5a9;
      grid-column: 1/ 2;
      grid-row: 10;
      height: 150px;
    }
  .mission{
    grid-column: 1/2;
    grid-row: 7;
    text-align: justify !important;
  }
}

/*DESKTOP display media query*/
@media screen and (min-width: 501px) {
    /*MAIN BODY GRID - 3 col*/
    .grid {
      display: grid;
      grid-template-columns: auto;
      background-color: white;
    }
    header{
      display: grid;
      grid-template-columns: auto;
      overflow: hidden;
      background-color: white;
      padding-top: 0px;
      grid-column: 1/ 6;
      grid-row: 1/3;

    }
    nav{
      overflow: hidden;
      text-align: center;
      margin: 0 auto;
      margin-top: 3rem;
      grid-column: 2/3;
      grid-row: 1;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      background-color: ;
      }
    footer{
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-column: 1/ 6;
      grid-row: 8;
      background:white;
      height: 400px;
      bottom:0;
    }
    .mission{
      display: grid;
      grid-template-columns: auto auto auto ;
      background-color: #ffff  !important;
      grid-column: 2/5;
      grid-row: 3/4;
      text-align: justify !important;
      padding: 50px;
      box-shadow: 0px 10px 31px 0px rgba(125, 149, 107, 0.65);
    }
    .media{
      display: grid;
      grid-template-columns: auto auto auto auto;
      background-color: white  !important;
      grid-column: 1/6;
      grid-row: 5/6;
      text-align: justify !important;
      padding: 50px;
    }
    .events1{
      display: grid;
      grid-template-columns: auto auto auto auto;
      background-color: white  !important;
      grid-column: 1/6;
      grid-row: 5/6;
      text-align: justify !important;
      padding: 50px;
    }
    .events2{
      display: grid;
      grid-template-columns: auto auto auto auto;
      background-color: white  !important;
      grid-column: 1/6;
      grid-row: 6/7;
      text-align: justify !important;
      padding: 50px;
    }
    .projects{
      display: grid;
      grid-template-columns: auto auto auto auto;
      background-color: white  !important;
      grid-column: 1/6;
      grid-row: 7/8;
      text-align: justify !important;
      padding: 50px;
    }
    /*Mission div alignment+styling classes*/
    /*current text alignment classes*/
    .h3{
      grid-column: 2;
      grid-row: 1;
      text-align: center;
    }
    .h1{
      grid-column: 1;
      grid-row: 2;
      text-align: center;
    }
    /*current image alignment classes*/
    .right{
      grid-column: 2;
      grid-row: 2;
    }
    .left{
      grid-column: 1;
      grid-row: 1;
    }
    /*Media div alignment+styling classes*/
    .ig1{
      grid-column: 1/2;
      grid-row: 2;
          box-shadow: 0px 10px 31px 0px rgba(125, 149, 107, 0.65);
    }
    .ig2{
      grid-column: 2/3;
      grid-row: 2;
          box-shadow: 0px 10px 31px 0px rgba(125, 149, 107, 0.65);
    }
    .ig3{
      grid-column: 3/4;
      grid-row: 2;
          box-shadow: 0px 10px 31px 0px rgba(125, 149, 107, 0.65);
    }
    .ig4{
      grid-column: 1/2;
      grid-row: 3;
          box-shadow: 0px 10px 31px 0px rgba(125, 149, 107, 0.65);
    }
    .ig5{
      grid-column: 2/3;
      grid-row: 3;
          box-shadow: 0px 10px 31px 0px rgba(125, 149, 107, 0.65);
    }
    .ig6{
      grid-column: 3/4;
      grid-row: 3;
          box-shadow: 0px 10px 31px 0px rgba(125, 149, 107, 0.65);
    }
    /*contact form styling*/
    .contact{
      grid-column: 1/3;
      grid-row: 3;
    }
    .icons{
      grid-column: 4;
      grid-row: 3;
      padding-top: 50px;
      padding-left: 20px;
    }
    .map{
      grid-column: 1/5;
      grid-row: 2;
    }

  button {
      grid-row: 3;
      grid-column: 3/4;
      width: fit-content;
      background: none;
      border: 2px solid;
      font: inherit;
      line-height: 1;
      margin: 0.5em;
      padding: 1em 1em;
      color: var(--color);
      transition: 0.25s;
      float: right;
    }
       button:hover, button:focus {
      	 border-color: var(--hover);
      	 color: #fff;
      }
       .close:hover, .close:focus {
      	 box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
      }
       .close {
      	 --color: #ff7f82;
      	 --hover: #ffdc7f;
      }

  /*STOP*/
      .title{
        grid-column: 1/4;
        grid-row: 1;
      }
      .txt1{
        grid-column: 1/2;
        grid-row: 3;
      }
      .txt2{
        grid-column: 2/3;
        grid-row: 3;
      }
      .txt3{
        grid-column: 3/4;
        grid-row: 3;
      }
      .logo{
        height: 50px;
        max-width: 100%;
      }
      /*impact + FAQs*/
      .impact{
        grid-column: 1;
        grid-row: 1;
      }
      .img1{
        grid-column: 2;
        grid-row: 1;
      }
      .events{
        grid-column: 1/2;
        grid-row: 1;
        text-align: left;
      }
      /*
      h1 .news {
        font-size: 20px;
        font-family: 'Viga', sans-serif;
        text-align: center;
        font-weight: bold;
      }
      */
      .team{
        grid-column: 1/2;
        grid-row: 2;
        padding: 20px;
        margin: 20px;
        border: 2px solid black;
      }
      .sponsors{
        grid-column: 1/2;
        grid-row: 3;
        padding: 20px;
        margin: 20px;
        border: 2px solid black;
      }
      .gradient{
        width: 100%;
        height: auto;
        grid-column: 1/5;
        grid-row: 1/4;
      }
      .fcontact{
        grid-column: 2/3;
        grid-row: 2;
        padding: 20px;
        margin: 20px;
        border: 2px solid black;
      }
      .social{
        grid-column: 3/4;
        grid-row: 2;
        padding: 20px;
        margin: 20px;
        border: 2px solid black;
      }
      /*sizing grid item*/
      .grid-item {
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 24px;
        color: black;
        margin: 0px 10px 50px 10px;
        text-align: center;
      }
      /*blog*/
      .blog{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        opacity: 1;
      }
      /*jumbotron image*/
      .jumbotron{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        grid-column: 1/4;
        grid-row: 1/3;
      }
      .services{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        grid-column: 1/3;
        grid-row: 1/3;
      }

 }

/*SIDENAV Navigation and Nav Links Text Styling*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Viga', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
nav a:hover {
  color: black;
}
nav .current {
  background-color: #b5e5a9;
  color: black;
}
nav .icon
  {
    color: white;
  }
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 501px) {
nav a:not(:first-child) {display: none;}
nav a.icon {
  float: left;
  display: block;
}

}
@media screen and (max-width: 501px) {
  nav.responsive {position: relative;}
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*typography*/
header h1{
  font-size: 40px;
  font-family: 'Viga', sans-serif;
  text-align: center;
  font-weight: bold;
  color: black;
}
footer p{
  font-family: helvetica;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 18px;
}
h1 {
  font-size: 40px;
  font-family: 'Viga', sans-serif;
  text-align: center;
  font-weight: bold;
}
h2{
  font: 20px helvetica;
  text-align: center;
  font-weight: bold;
  color: pink;
}
h3{
  font: 18px helvetica;
  font-weight: bold;
}
h4{
  font: 24px;
  font-weight: lighter;
  font-family: helvetica;
  text-align: center;
}
p{
  font: 12px helvetica;
  font-weight: lighter;
}

img{
  height: auto;
  width: 100%;
}

/* FORM TYPOGRAPHY*/
input[type=text], select, textarea {
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 15px 0px;
  font: 400 11px system-ui;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  font-family: helvetica;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 #b1b2dd;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color:  #bb550842;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
      font-family: helvetica;
    /* display: inline-block; */
    font-size: 16px;
    /* margin: 5px; */
    /* width: 85%; */
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #fe814b;
}

input[type=text]:placeholder {
    color: #cccccc;
  }
  ul{
    list-style-type: none;
}

/*BUTTON MENU*/
/*--Global Styles--*/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
/*--Button Styles--*/
.btn-slice {
    padding: 1.2rem 2.5rem;
  border: 2px solid black;
    border-radius: 0rem;
    color: black;
    font-size: 0.6875rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
  position: relative;

  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}
.btn-slice .top  {
    position: relative;
    height: 6px;
    overflow: hidden;
  top: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-delay:0.35s;
  -moz-transition-delay::0.35s;
  -ms-transition-delay::0.35s;
  -o-transition-delay::0.35s;
  transition-delay::0.35s;
}
.btn-slice .bottom  {
    position: relative;
    height: 6px;
    overflow: hidden;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040);
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040);
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-delay:0.35s;
  -moz-transition-delay::0.35s;
  -ms-transition-delay::0.35s;
  -o-transition-delay::0.35s;
  transition-delay::0.35s;
}
.btn-slice .bottom span {
  top: -6px;
  position: absolute;
  left: 0;
}
.btn-slice:hover .top {
    top: -5px;
  -webkit-transition-delay:0.35s;
  -moz-transition-delay::0.35s;
  -ms-transition-delay::0.35s;
  -o-transition-delay::0.35s;
  transition-delay::0.35s;
}
.btn-slice:hover .bottom {
    bottom: -5px;
  -webkit-transition-delay:0.35s;
  -moz-transition-delay::0.35s;
  -ms-transition-delay::0.35s;
  -o-transition-delay::0.35s;
  transition-delay::0.35s;
}
.btn-slice:hover, .btn-slice:focus, .btn-slice:active {
    margin-left: 10px;
}
.btn-slice:before{
    content: '';
    height: 1px;
    width: 60px;
    background-color: black;
    position: absolute;
    margin-top: 6px;
    right: -35px;

  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225);
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}
.btn-slice:hover:before{
    width: 130%;
}
